<awr-user-dialog title="Register">
  <form [formGroup]="register" class="content">
    <mat-form-field>
      <input matInput formControlName="email" placeholder="E-Mail">
      <mat-error *ngIf="register.controls.email.hasError('email-taken')">
        This E-Mail address is already in use.
      </mat-error>
      <mat-error *ngIf="register.controls.email.hasError('email')">
        Please specify a valid E-Mail address.
      </mat-error>
    </mat-form-field>
    <awr-password-inputs formControlName="password"></awr-password-inputs>
  </form>
  <div class="actions">
    <button
      mat-raised-button
      color="primary"
      [disabled]="register.invalid"
      (click)="submitCredentials()">Register</button>
  </div>
</awr-user-dialog>
