<awr-user-dialog>
  <form [formGroup]="quickAddForm" class="content">
    <mat-form-field>
      <input
        matInput
        formControlName="title"
        placeholder="Title"
        type="text">
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        formControlName="text"
        placeholder="Text"></textarea>
    </mat-form-field>
  </form>
  <div class="actions">
    <button
      [disabled]="quickAddForm.invalid"
      (click)="propagateNote()"
      mat-raised-button
      color="accent">Create Note</button>
  </div>
</awr-user-dialog>
